
@{
    ViewBag.Title = "Dashbord";
}

<h2>Guitar Lab Admin Root</h2>

<br />
<br />
<br />
<h3>
    <p>This is the Guitar Lab Project admin panel</p> 
    <p>Select the function you need in the header above</p> 
</h3>

<h3 style="color: red">
    Be careful, you are responsible for all changes on the site and in the database
</h3>