@{
    ViewBag.Title = "Index";
}

<br />
<br />

<h2>Enter your SQL request</h2>


<form action="Query/SqlQuery" method="post">
    <textarea id="names" name="query" type="text" value="" style="width: 500px; margin-left: 17px;"> </textarea>
    <br />
    <button class="btn btn-outline-success" style="width: 100px;">Запрос!</button>
</form>

