
@{
    ViewBag.Title = "SqlQuery";
}

<br />
<br /> 
<h2>Query</h2>

@model IEnumerable<object[]>
<table>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                @foreach (var column in row)
                {
                    <td>@column</td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>